body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}




nav {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

.img-nav {
    margin-left: 8em;
}

.video-sec-1 {
    margin-top: -2em;
}

.nav-butt {
    margin-right: 6em;
    margin-top: 2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border-radius: 0.3rem;
    background-color: #ff0612;
    border-color: #ff0612;
    color: #fff;
    font-size: 1.2rem;



}

.nav-butt:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    padding-top: 2em;
    font-weight: bolder;
}

.nav-meg-1 {
    text-align: center;
    font-size: 1.80rem;
    color: #fff;
    font-weight: bold;
}

.nav-meg-2 {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.form-1 {
    display: flex;
    justify-content: center;
    margin-top: 6em;
    gap: 0.5rem;
}

#email-1 {
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;

}

h2 {
    font-size: 4rem;
    color: #fff;
}

.video-sec {
    font-size: 1.6rem;
    line-height: 1rem;
    color: #fff;

}

.video-flex {
    display: flex;
    gap: 4rem;
    justify-content: center;
    line-height: 1rem;
    background-color: #000000;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
}

#email-button {
    padding-left: 6em;
    padding-right: 6em;
    background-color: #E50914;
    border-color: #E50914;
    border-radius: 0.2rem;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

#email-button:hover {
    cursor: pointer;
    background-color: #ff0612;
}

.background-col {
    background-image: url(./img/GH-en-20230116-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 99vh;
    box-shadow: 3rem 3rem 100rem 10rem #000 inset;
    margin-bottom: -0.5em;
}

h3 {
    font-size: 4rem;
    color: #fff;
    line-height: 1.6rem;
}

.video-sec-1 {
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: #fff;
}

.video-flex-1 {
    display: flex;
    gap: 4rem;
    justify-content: center;
    line-height: 1rem;
    background-color: #000000;
    padding-bottom: 5rem;
    padding-top: 5rem;
    margin-top: -0.5em;
    margin-bottom: -1em;

}

h4 {
    font-size: 2rem;
}

.sec-2 {
    display: flex;
    background-color: #000000;
    justify-content: center;
    margin-top: -0.6em;
    gap: 2rem;
    padding-top: 4em;
    padding-bottom: 4em;
    justify-content: baseline;
    margin-bottom: -1em;
}

h4 {
    color: white;
    font-size: 3rem;
}

.sec-tex {
    color: #fff;
    font-size: 1.6rem;
    line-height: 1rem;
    margin-top: -1em;
}

h5 {
    color: #434242;
    font-size: 1rem;
    padding-left: 26em;

}

.foot-1 {
    display: flex;
    justify-content: center;
    gap: 4rem;

}

.foot-2 {
    background-color: #000000;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-top: -0.5em;
}

.foot-1 ul {
    list-style: none;

}

.foot-1 ul li {
    color: #434242;
    line-height: 2.6rem;
}

small {
    color: #434242;
    padding-left: 31.6em;
}



label {
    color: white;
}

.content-1 {
    color: white;
}


h6 {
    text-align: center;
    font-size: 2.3rem;
    color: white;
}

.accordion-bac{
    background-color: #000000;
}

.accordion-header{
    text-align: center;
    font-size: 2rem;






@media only screen and (max-width: 414px) {
    h5 {
        padding-left: 1em;
    }

    .foot-1 {
        display: grid;
        grid-template-columns: 100px 100px;

    }

    small {
        padding-left: 1em;
    }

    .horinzontal {
        width: 99.60%;
    }

    .sec-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    h4 {
        font-size: 1.7rem;
        text-align: center;
        margin-top: -0.8em;
    }

    .sec-tex {
        text-align: center;
        font-size: 1.3rem;
    }

    .im-sec-2 {
        width: 100%;
        height: 100%;
    }

    h1 {
        text-align: center;
        line-height: 1rem;
        font-size: 2.1rem;

    }

    h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    .video-sec {
        text-align: center;
        line-height: 1rem;
        font-size: 1.2rem;
    }

    .video-img {

        width: 100%;
        height: 100%;
    }

    .video-flex {
        display: flex;
        flex-direction: column;
    }

    .form-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
    }

    .nav-butt {

        margin-right: 0;
        margin-top: 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        border-radius: 0;

    }

    #email-button {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: 6em;
        margin-right: 6em;
        margin-top: 2em;
        border-radius: 0;

    }

    .img-nav {
        margin-left: 0;
    }

    h3 {
        text-align: center;
        font-size: 1.9rem;
        line-height: 1rem;
        margin-top: -1em;
    }

    .video-sec-1 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: -1em;
    }

    .im-vi {
        width: 100%;
        height: 100%;
        margin-top: -2em;
    }

}

@media only screen and (max-width: 428px) {
    h5 {
        padding-left: 1em;
    }

    .foot-1 {
        display: grid;
        grid-template-columns: 100px 100px;

    }

    small {
        padding-left: 1em;
    }


    .horinzontal {
        width: 99.60%;
    }

    .sec-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    h4 {
        font-size: 1.7rem;
        text-align: center;
        margin-top: -0.8em;
    }

    .sec-tex {
        text-align: center;
        font-size: 1.3rem;
    }

    .im-sec-2 {
        width: 100%;
        height: 100%;
    }

    h1 {
        text-align: center;
        line-height: 1rem;
        font-size: 2.1rem;

    }

    .video-flex-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    h2 {
        font-size: 1.9rem;
        text-align: center;
    }

    .video-sec {
        text-align: center;
        line-height: 1rem;
        font-size: 1.2rem;
    }

    .video-img {

        width: 100%;
        height: 100%;
    }

    .form-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
    }

    .nav-butt {

        margin-right: 0;
        margin-top: 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        border-radius: 0;

    }

    #email-button {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: 6em;
        margin-right: 6em;
        margin-top: 2em;

    }

    .img-nav {
        margin-left: 0;
    }

    h3 {
        text-align: center;
        font-size: 1.9rem;
        line-height: 1rem;
        margin-top: -1em;
    }

    .video-sec-1 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: -1em;
    }

    .im-vi {
        width: 100%;
        height: 100%;
        margin-top: -2em;
    }

}



@media only screen and (max-width:360px) {


    h5 {
        padding-left: 1em;
    }

    .foot-1 {
        display: grid;
        grid-template-columns: 100px 100px;

    }

    small {
        padding-left: 1em;
    }

    .horinzontal {
        width: 99.60%;
    }


    .sec-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    h4 {
        font-size: 1.7rem;
        text-align: center;
        margin-top: -0.8em;
    }

    .sec-tex {
        text-align: center;
        font-size: 0.6rem;
    }

    .im-sec-2 {
        width: 100%;
        height: 100%;
    }

    .video-flex {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 12rem;
        text-align: center;
    }

    .video-sec {
        text-align: center;
        line-height: 1rem;
        font-size: 1.2rem;
    }

    .video-img {

        width: 100%;
        height: 100%;
    }


    h1 {
        text-align: center;
        line-height: 1rem;
        font-size: 1.7rem;

    }

    h2 {
        font-size: 2rem;
    }

    .nav-meg-1 {
        text-align: center;
        font-size: 1rem;
    }

    .nav-meg-2 {
        text-align: center;
        font-size: 1rem;
    }

    .form-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
    }

    #email-1 {
        padding-left: 0.2em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 2em;
        margin-right: 2em;

    }

    #email-button {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: 6em;
        margin-right: 6em;
        margin-top: 2em;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-content: baseline;
    }

    .background-col {
        height: 100vh;
    }

    .img-nav {
        max-width: 7em;
        max-height: 7em;
    }

    nav {
        display: flex;

    }

    .nav-butt {

        margin-right: 0;
        margin-top: 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;

    }

    .img-nav {
        margin-left: 0;
    }

    h3 {
        text-align: center;
        font-size: 1.9rem;
        line-height: 1rem;
        margin-top: -1em;
    }

    .video-sec-1 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: -1em;
    }

    .im-vi {
        width: 100%;
        height: 100%;
        margin-top: -2em;
    }


}





@media only screen and (max-width:720px) {

    h5 {
        padding-left: 1em;
    }

    .foot-1 {
        display: grid;
        grid-template-columns: 100px 100px;

    }

    small {
        padding-left: 1em;
    }

    .horinzontal {
        width: 99.55%;
    }

    .sec-2 {
        display: flex;
        flex-direction: column-reverse;
    }

    h4 {
        font-size: 1.7rem;
        text-align: center;
        margin-top: -0.8em;
    }

    .sec-tex {
        text-align: center;
        font-size: 1rem;
    }

    .im-sec-2 {
        width: 100%;
        height: 100%;
    }

    .video-flex {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 12rem;
        text-align: center;
    }

    .video-sec {
        text-align: center;
        line-height: 0.55rem;
        font-size: 1rem;
    }

    .video-img {

        width: 100%;
        height: 100%;
    }


    h1 {
        text-align: center;
        line-height: 1rem;
        font-size: 1.7rem;

    }

    h2 {
        font-size: 2rem;
    }

    .nav-meg-1 {
        text-align: center;
        font-size: 1rem;
    }

    .nav-meg-2 {
        text-align: center;
        font-size: 1rem;
    }

    .form-1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 1em;
    }

    #email-1 {
        padding-left: 0.2em;
        padding-right: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 2em;
        margin-right: 2em;

    }

    #email-button {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        padding-left: 4em;
        padding-right: 4em;
        margin-left: 6em;
        margin-right: 6em;
        margin-top: 2em;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-content: baseline;
    }

    .background-col {
        height: 100vh;
    }

    .img-nav {
        max-width: 7em;
        max-height: 7em;
    }

    nav {
        display: flex;

    }

    .nav-butt {

        margin-right: 0;
        margin-top: 2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        border-radius: 0;

    }

    .img-nav {
        margin-left: 0;
    }

    h3 {
        text-align: center;
        font-size: 1.9rem;
        line-height: 1rem;
        margin-top: -1em;
    }

    .video-sec-1 {
        text-align: center;
        font-size: 1rem;
        margin-top: -1em;
    }

    .im-vi {
        width: 100%;
        height: 100%;
        margin-top: -2em;
    }

    .
}